[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-eopkg"]
	path = dotbot-eopkg
	url = https://github.com/niklas-heer/dotbot-eopkg
[submodule "dotbot_plugin_aptget"]
	path = dotbot_plugin_aptget
	url = https://github.com/dein0s/dotbot_plugin_aptget.git
